<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <section class='show'>
        <% bArr.forEach(item=>{%>
        <form action="/books" method="POST">
          <img src="<%= item.image_url%>" alt="" srcset="">
            <input type="hidden" name=image_url value="<%=item.image_url%>">
            <h2>
                <%= item.title%>
            </h2>
            <input type="hidden" name=title value="<%=item.title%>">
            <h2>
                <%= item.author%>
            </h2>
            <input type="hidden" name=author value="<%=item.author%>">
            <p>
                <%= item.description%>
            </p>
            <input type="hidden" name=description value="<%=item.description%>">
            <button>select this book</button>
        </form>
        <%});%>
    </section>

</body>
</html>